---

name: ci

on:
  pull_request:

  push:
    branches:
      - master

jobs:
  lint:
    runs-on: ubuntu-20.04

    timeout-minutes: 15

    strategy:
      fail-fast: false

    steps:
      - uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.0
          bundler-cache: true

      - name: Make sure gemfiles are up to date
        run: ruby -Itest -rbundler/setup -rgemfiles/lint -e 'exit(Minitest.run)'

      - name: Make sure gemspec builds without warnings
        run: ruby -Itest -rbundler/setup -rgemfiles/gemspec_lint -e 'exit(Minitest.run)'

      - name: Run linters
        run: bin/rubocop

  test:
    name: test (${{ matrix.ruby.name }}, ${{ matrix.rails }})

    runs-on: ubuntu-20.04

    timeout-minutes: 15

    strategy:
      fail-fast: false

      matrix:
        ruby:
          - { name: ruby-2.6, value: 2.6.9 }
          - { name: ruby-2.7, value: 2.7.5 }
          - { name: ruby-3.0, value: 3.0.3 }
          - { name: ruby-3.1, value: 3.1.0 }
          - { name: jruby-9.3, value: jruby-9.3.2.0 }

        rails: [rails_52, rails_60, rails_61, rails_70]

        exclude:
          - ruby: { name: ruby-2.6, value: 2.6.9 }
            rails: rails_70
          - ruby: { name: ruby-2.7, value: 2.7.5 }
            rails: rails_52
          - ruby: { name: ruby-3.0, value: 3.0.3 }
            rails: rails_52
          - ruby: { name: ruby-3.1, value: 3.1.0 }
            rails: rails_52
          - ruby: { name: jruby-9.3, value: jruby-9.3.2.0 }
            rails: rails_70

    env:
      COVERAGE: true

    steps:
      - uses: actions/checkout@v2

      - name: Configure bundler (default)
        run: |
          echo "BUNDLE_GEMFILE=Gemfile" >> $GITHUB_ENV
        if: matrix.rails == 'rails_70'

      - name: Configure bundler (alternative)
        run: |
          echo "BUNDLE_GEMFILE=test/${{ matrix.rails }}/Gemfile" >> $GITHUB_ENV
        if: matrix.rails != 'rails_70'

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby.value }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rake test TESTOPTS="--verbose"
